Checks: >
  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-pro-type-vararg,
  performance-*,
  bugprone-*,
  modernize-*,
  -modernize-use-trailing-return-type,
  clang-analyzer-*,
FormatStyle: 'file'
