IndentWidth: 2
TabWidth: 2
UseTab: Never
Language: Cpp
Standard: c++20
BreakBeforeBraces: Allman
ColumnLimit: 180
PointerAlignment: Left
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpaceBeforeParens: ControlStatements
AccessModifierOffset: -2
AllowShortFunctionsOnASingleLine: InlineOnly
FixNamespaceComments: false
SortIncludes: false
IndentPPDirectives: AfterHash
AlwaysBreakTemplateDeclarations: Yes
AlignAfterOpenBracket: DontAlign
IncludeBlocks: Preserve
AllowShortIfStatementsOnASingleLine: Never
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ConstructorInitializerIndentWidth: 2
BreakConstructorInitializers: AfterColon
