[submodule "libs/fmt"]
	path = libs/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "libs/gtest"]
	path = libs/gtest
	url = https://github.com/google/googletest.git
[submodule "libs/json"]
	path = libs/json
	url = https://github.com/nlohmann/json.git
[submodule "libs/flamegraph"]
	path = libs/flamegraph
	url = https://github.com/brendangregg/FlameGraph.git
[submodule "libs/tracy"]
	path = libs/tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "libs/pybind11"]
	path = libs/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "libs/imgui"]
	path = libs/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "libs/glfw"]
	path = libs/glfw
	url = https://github.com/glfw/glfw.git
[submodule "libs/benchmark"]
	path = libs/benchmark
	url = https://github.com/google/benchmark.git
[submodule "libs/implot"]
	path = libs/implot
	url = https://github.com/epezent/implot.git
[submodule "src/NDA"]
	path = src/NDA
	url = git@github.com:zdenyhraz/shenanigans_private.git
[submodule "libs/zmq"]
	path = libs/zmq
	url = https://github.com/zeromq/cppzmq.git
[submodule "libs/imgui-nodes"]
	path = libs/imgui-nodes
	url = https://github.com/thedmd/imgui-node-editor.git
