---
IndentWidth: 2
TabWidth: 2
UseTab: Never
Language: Cpp
Standard: Cpp11
BreakBeforeBraces: Allman
ColumnLimit: 150
PointerAlignment: Left
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpaceBeforeParens: ControlStatements
AccessModifierOffset: -2
AllowShortFunctionsOnASingleLine: InlineOnly
FixNamespaceComments: false
SortIncludes: false
...
