---
AccessModifierOffset: '-2'
BreakBeforeBraces: Allman
ColumnLimit: '150'
IndentWidth: '2'
TabWidth: '2'
UseTab: Never
Language: Cpp
SpacesInParentheses: 'false'
SpacesInSquareBrackets: 'false'
Standard: Latest
PointerAlignment: 'Left'
AllowShortFunctionsOnASingleLine: 'InlineOnly'
SpaceBeforeParens: 'ControlStatements'
SpacesInParentheses: 'false'
...
