name: clang-tidy

on:
  workflow_dispatch:

env:
  CI: ON

jobs:
  clang-tidy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        submodules: recursive
        token: ${{ secrets.ACCESS_TOKEN }}

    - name: OpenCV cache
      id: opencv-cache
      uses: actions/cache@v4
      with:
        path: ./libs/opencv_install
        key: ${{ runner.os }}-opencv-cache-v2

    - name: ONNX cache
      id: onnxruntime-cache
      uses: actions/cache@v4
      with:
        path: ./libs/onnxruntime_install
        key: ${{ runner.os }}-onnxruntime-cache-v2

    - name: Configure
      run: sudo python -u build.py --ci --compiler gcc --build_type Release --configure_only

    - name: List files in build directory
      run: ls -la build

    - name: Run clang-tidy
      run: sudo python -m script.ci.clang-tidy
      continue-on-error: true

