name: coverage

on: [push, pull_request]

env:
  CI: ON

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        submodules: recursive
        token: ${{ secrets.ACCESS_TOKEN }}

    - name: OpenCV cache
      id: opencv-cache
      uses: actions/cache@v4
      with:
        path: ./libs/opencv_install
        key: ${{ runner.os }}-opencv-cache-v2

    - name: ONNX cache
      id: onnxruntime-cache
      uses: actions/cache@v4
      with:
        path: ./libs/onnxruntime_install
        key: ${{ runner.os }}-onnxruntime-cache-v2

    - name: Install coverage tools
      run: |
        sudo apt-get install -y lcov python3-pip
        pip3 install --upgrade codecov

    - name: Build
      run: sudo python -u build.py --ci --compiler gcc --build_type Debug --coverage

    - name: Test
      run: python -u test.py --coverage

    - name: Capture coverage report
      run: |
        cd build
        lcov --capture --directory . --output-file coverage.info --gcov-tool $GCOV
        genhtml coverage.info --output-directory coverage_html

    - name: Upload coverage to Codecov
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
      run: |
        codecov -f build/coverage.info -t "${CODECOV_TOKEN}" -v

